body {
  background: #ffffff;
  background-image: url(../images/silverfox_geo2.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30%;
  font-family: sans-serif;
}

h1 {
  color: #505050;
  text-align: center;
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 5px;
}

h3 {
  color: #505050;
  text-align: center;
  padding: 0px;
  margin: 0px;
  letter-spacing: 20px
}

.right {
  text-align: right;
}

h5 {
  color: #3F9B00;
  text-align: center;
  padding: 0px;
  margin: 0px;
  letter-spacing: 8px
}

ul {
  font-size: 13px;
  line-height: normal;
}

p {
  text-align: justify;
}

p.main {
  width: 75%;
}
.sidebar {

}
