body {
  background: #ffffff;
  background-image: url(../images/silverfox_geo2.png);
  background-position: left 49% top 17%;
  background-repeat: no-repeat;
  background-size: 30%;
  font-family: sans-serif;
}

h1 {
  color: #505050;
  text-align: center;
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 5px;
}

h3 {
  color: #505050;
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
  margin-top: 1px;
  letter-spacing: 20px
}

.right {
  text-align: right;
}

h5 {
  color: #3F9B00;
  text-align: center;
  padding: 0px;
  margin: 0px;
  letter-spacing: 8px
}

ul {
  font-size: 13px;
  line-height: normal;
}

p {
  text-align: justify;
}

.sidebar {
  width: 160px;
  height: 1000px;
  background-color: #E6E6E6;
  padding: 10px;
  margin-right: 20px;
  float: left;
}

.column {
  width: 300px;
  float: left;
  margin: 10px;
}
